<h1>Register Task</h1>

<div class="well">
  <form #formTask="ngForm">
    <div class="form-group">
      <label for="name">Task:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        minlength="5"
        required>
      <div class="alert alert-danger">
        <div>
          Enter the task.
        </div>
        <div>
          The task description must have at least 5 characters.
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <input
        type="submit"
        class="btn btn-success"
        value="Register"
        [disabled]="!formTask.form.valid">
      <a [routerLink]="['/tasks']"
        class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"
          aria-hidden="true"></span> Back
      </a>
    </div>
  </form>
</div>
